body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}


.boxscore-table {
  width: 100%;
  border-collapse: collapse; 
  text-align: left; 
  font-size: 14px; 
}

.boxscore-table th {
  background-color: #f4f4f4; 
  color: #333; 
  padding: 10px; 
  border: 1px solid #ddd; 
}

.boxscore-table td {
  padding: 8px; 
  border: 1px solid #ddd; 
}


.boxscore-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}


.boxscore-table tr:hover {
  background-color: #f1f1f1; 
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.pagination button:disabled {
  color: #ccc;
  cursor: default;
}

.pagination button:hover:not(:disabled) {
  background-color: #e9e9e9;
}

.page-item {
  margin: 5px;
}

.page-link {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.page-link:hover {
  background-color: #e9e9e9;
}
